.col-md-6 img{
    width: 100%;
}
.col-md-6 img{
    max-height: 600px;
}
.col-md-6 h4{
    margin-top: 20px;
}
.col-md-6 h4, p{
    line-height: 1;
}
.container h3{
    margin-bottom: 20px;
}
.container p{
    line-height: 1.6;
}