.footer{
    background-color: dimgray;
    padding: 30px 40px;
    
}
.footer img{
    width: 50%;
    padding: 0;
}

.footer-parts{
    display: flex;
        width: 600px;
        justify-content: space-between;
}
@media only screen and (max-width: 600px){
    .footer-parts{
        display: flex;
        width: 400px;
        justify-content: space-between;
    }
    .footer img{
        width: 80%;
        padding: 0;
    }
}

.footer-parts a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    
}
.footer-parts p{
    color: white;
    font-size: 15px;
}