.footer{
    background-color: dimgray;
    color: white;
    padding: 30px 40px;
    
}
.footer img{
    width: 50%;
    padding: 0;
}
.footer-col{
    text-align: left;
}
.footer-col a{
    color: white;
    text-decoration: none;
}
.footer h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.footer p{
    font-size: 15px;
    line-height: 10px;
}