
#header-section{
    margin-top: 80px;
}
body{
    margin: 0;
}
.nav-icon{
    text-align: center;
    text-decoration: wavy;
}
.bi-person-circle{
    font-style: normal;
}
.matches{
    margin-top: 30px;
    max-height: 130px;
    display: flex;
    overflow-x: scroll;
}

.matches .items{
    min-width: 300px;
    height: 130px;
    padding-left: 10px;
    text-align: left;
    background-color: lightgrey;
    margin-right: 5px;
    border-radius: 5px;
}
.main-body{
    margin-top: 30px;
    margin-bottom: 300px;
}
.post-front{
    padding: 20px;
    border: 1px solid lightgrey;
}

.identity img{
    max-width: 70px;
    border-radius: 30px;
    margin-top: 10px;
    
}
.identity .profile-title{
    margin-top: 5px;
    margin-left: 20px;
}
.identity h3, h4{
    line-height: 5px;
    margin: 0;
    padding: 0;
}

.news-body{
    border: 1px solid lightgrey;
    padding: 20px;
    align-items: center;
}
.news-front img{
    width: 100%;
    margin-bottom: 10px;
}
.news-body p{
    color: gray;
}
.footer{
    background-color: dimgray;
    color: white;
    padding: 30px 40px;
    
}
.footer img{
    width: 50%;
    padding: 0;
}
.footer-col{
    text-align: left;
}
.footer-col a{
    color: white;
    text-decoration: none;
}
.footer h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.footer p{
    font-size: 15px;
    line-height: 10px;
}

/* login-page-css */
.nav-image{
    background-color: dimgray;
}
.nav-image img{
    width: 10%;
}
.form-box
{
    width: 380px;
	height: 480px;
	position: relative;
	margin: 2% auto;
	background:rgba(173, 173, 173, 0.3);
	padding: 10px;
    overflow: hidden;
}
.button-box
{
	width:240px;
	margin: 35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px rgb(185, 185, 185);
	border-radius: 30px;
}
.toggle-btn
{
	padding: 10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
    text-align: center;
    font-size: 15px;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 130px;
	height: 100%;
	background: dimgray;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 110px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding: 5px 0;
	margin: 5px 0;
	border-left:0;
    font-size: 18px;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid rgb(75, 75, 75);
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: dimgray;
	border: 0;
    color: white;
    font-size: 17px;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 40px 0;
}
span
{
	color:black;
	font-size:15px;
	margin-top: 28px;
	position:absolute;
}
#login
{
	left: 60px;
}
#login-btn{
    color: white;
}
#login input
{
	color:black;
	font-size:25;
}
#register
{
	left: 470px;
}
#register input
{
	color:black;
	font-size: 25;
}
.login-page .submit-btn{
	top: 300px;
}